<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

   <%- include('./partials/nav.ejs') %>

   <div class="about content">
      <h2>About us</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui ea maxime unde expedita non. Rem quia laborum consequatur illo quos, atque corporis repudiandae, nihil, sapiente fugiat sunt. Veniam, magni iste.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui ea maxime unde expedita non. Rem quia laborum consequatur illo quos, atque corporis repudiandae, nihil, sapiente fugiat sunt. Veniam, magni iste.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui ea maxime unde expedita non. Rem quia laborum consequatur illo quos, atque corporis repudiandae, nihil, sapiente fugiat sunt. Veniam, magni iste.</p>
   
   </div>
   
<%- include('./partials/footer.ejs') %>
</body>
</html>